.create-course {
    max-width: 700px;
}

.preview {
    max-width: 200px;
}

.my-border {
    width: 200px;
    height: 200px;
    border: 4px solid;
    border-style: dashed;
    color: rgb(211, 211, 211);
    padding: 15px;
}

/* * {
    font-family: Lato;
} */

/* ngx-dropzone,
.custom-dropzone {
    margin: 20px;
}

.custom-dropzone {
    height: 250px;
    background: #333;
    color: #fff;
    border: 5px dashed rgb(235, 79, 79);
    border-radius: 5px;
    font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(235, 79, 79);
} */